

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 100;
  text-align: center;
}
.container-fluid {
  padding: 7% 14%;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  line-height: 2;
}
h3
{
    font-family: "Montserrat", sans-serif;
  font-weight:100;
}

p {
  color: #8f8f8f;
  font-weight: 400;
}
em {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
table
{
  position:relative;

}
.transferh1{
  padding : 50px 0 0 0;
}
.btn6 {
  background-color: linear-gradient(to right bottom, #ffcbcb, #facfbc, #ebd5b4, #d8dbb6, #c3e0c2, #badebd, #b1dcb8, #a7dab4, #b3d091, #c9c172, #e2ad5e, #fb955f);
  color: black;
  border: 2px solid #555555;
}

.btn6:hover {
background-color: rgb(0, 0, 0);
color: white;
}
/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  margin-left:0px; 
}
.section-heading {
  line-height: 1.5;
}

/* Color Sections */
.white-section {
  background-color: rgb(255, 255, 255);
}
.colored-section {
  background-color: #57CC99;
  color: #fff;

}
.mainarea{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  
}
.h1size{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 25px;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler {
  border: none;
}
.navbar-brand {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Title Section */
#title {
  font-weight: "Montserrat";
  text-align: left;
}
#title .container-fluid {
  padding: 3% 5% 1%;
}
.download-button {
  color: #fff;
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 2%;
  padding-left: 2%;
}
.feature-title {
  font-size: 1.5rem;
}
.icon {
  color: 57CC99;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #38A3A5;
}

.amount
{
  padding-left: 10px;

}
.formm1{
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 40px;
} 
/* Footer section  */
#footer {
  padding: 2% 14%;
  background-color:#ffffff;
}
.f-button {
  margin: 0% 1.5%;
}
  #title {
    text-align: center;
  }
  .navbar {
    padding-bottom: 3px;
  }
  #footer {
    padding: 0.5% 14%;
    height: 9rem;
  }
  .f-button {
    margin: 5% 1%;
  }